.vertical-align{
    vertical-align: middle;
}

.job-list{
    margin-top: 50px;
}

.home-body{
    background-color: rgb(52, 58, 64)
}

.title-search{
    color: white;
}

.category-search{
    color: white;
}

.company-search{
    color: white;
}

